{% trans_default_domain 'FOSUserBundle' %}

<!doctype html>
<html lang="{{ app.request.locale }}">
{{ include('SumoCodersFrameworkCoreBundle::head.html.twig') }}

<body>
<!--[if lt IE 8 ]>
<div id="ie6" class="alert alert-block" role="alert">
    <a href="#" class="close" data-dismiss="alert" title="{{ 'dialogs.close'|trans({},'messages')|capitalize }}">x</a>
    {{ 'core.warnings.oldBrowser'|trans({},'messages') }}
</div>
<![endif]-->
{% block fos_user_content %}
    <div class="container">
        <section id="users" class="login">
            <div class="row-fluid">
                <div class="span12">
                    <header class="header hide">
                        <h2>{{ 'header.title.login'|trans({},'messages')|capitalize }}</h2>
                    </header>

                    <a href="/" class="logo">{{ fallbacks.get('site_title') }}</a>

                    {{ include('SumoCodersFrameworkCoreBundle::notifications.html.twig') }}

                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        {% if error %}
                            <div class="alert alert-info">
                                {{ error|trans }}
                            </div>
                        {% endif %}

                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="username">{{ 'security.login.username'|trans }}
                                    <abbr title="{{ 'forms.errors.fieldIsRequired'|trans({},'messages')|capitalize }}">*</abbr></label>

                                <div class="controls input-prepend">
                                    <div class="add-on username"></div>
                                    <input value="{{ last_username }}" id="username" name="_username" type="text" class="inputText" required />
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="password">{{ 'security.login.password'|trans }}
                                    <abbr title="{{ 'forms.errors.fieldIsRequired'|trans({},'messages')|capitalize }}">*</abbr></label>

                                <div class="controls input-prepend">
                                    <div class="add-on password"></div>
                                    <input type="password" value="" id="password" name="_password" class="inputPassword" required />
                                </div>
                            </div>

                            <label for="remember_me" class="checkbox">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                {{ 'security.login.remember_me'|trans }}
                            </label>

                            <button type="submit" id="submit" name="_submit" class="btn btn-primary btn-block">{{ 'security.login.submit'|trans }}
                                <i class="icon iconArrowWhiteRight"></i></button>

                            <div class="forgotPassword">
                                <small>
                                    <a href="{{ path('fos_user_resetting_request') }}">{{ 'forms.login.action.forgotPassword'|trans({},'messages')|capitalize }}</a>
                                </small>
                            </div>
                        </fieldset>
                    {#</form>#}
                </div>
            </div>
        </section>
    </div>
{% endblock fos_user_content %}

{{ include('SumoCodersFrameworkCoreBundle::footer.html.twig') }}
{% block javascripts %}{% endblock %}
</body>
</html>
