{% extends "SumoCodersFrameworkUserBundle::empty_layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block header_title %}
    <h2>
        {{ 'user.header.title.request'|trans({},'messages')|capitalize }}
    </h2>
{% endblock %}

{% block fos_user_content %}
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        {% if invalid_username is defined %}
            <div class="alert alert-danger">
                {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
            </div>
        {% endif %}

        <fieldset>
            <div class="form-group">
                <label class="control-label" for="username">
                    {{ 'resetting.request.username'|trans }}<abbr title="{{ 'forms.labels.required'|trans({},'messages')|capitalize }}">*</abbr>
                </label>

                <div class="input-group">
                    <div class="input-group-addon username icon icon-user"></div>
                    <input id="username" name="username" type="text" class="form-control input-lg" required />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pull-right">
                    <button type="submit" id="submit" name="_submit" class="btn btn-success pull-right">
                        {{ 'resetting.request.submit'|trans }}<i class="icon iconArrowWhiteRight"></i>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock fos_user_content %}
