{% extends "SumoCodersFrameworkUserBundle::empty_layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block header_title %}
    <h2>
        {{ 'header.title.request'|trans({},'messages')|capitalize }}
    </h2>
{% endblock %}

{% block fos_user_content %}
    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary btn-block">
            {{ 'resetting.reset.submit'|trans }}
        </button>
    </form>
{% endblock fos_user_content %}
