{% extends "SumoCodersFrameworkUserBundle::layout.html.twig" %}

{% block header_title %}
    <h2>
        {{ 'header.title.add'|trans|capitalize }}
    </h2>
{% endblock %}

{% block header_navigation %}
    <ul>
        <li>
            <a class="iconList" href="{{ path('sumocoders_frameworkuser_default_index') }}">{{ 'header.navigation.actions.overview'|trans|capitalize }}</a>
        </li>
    </ul>
{% endblock %}

{% block fos_user_content %}
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_widget(form) }}

    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3">
            <input type="submit" class="btn btn-primary" value="{{ 'forms.general.buttons.add'|trans|capitalize }}" />
        </div>
    </div>

    {{ form_end(form) }}
{% endblock fos_user_content %}
