{% extends "SumoCodersFrameworkUserBundle::layout.html.twig" %}

{% block header_title %}
    <h2>
        {{ 'header.title.add'|trans|capitalize }}
    </h2>
{% endblock %}

{% block header_navigation %}
    <ul>
        <li>
            <a class="iconList" href="{{ path('sumocoders_frameworkuser_default_index') }}">{{ 'header.navigation.actions.overview'|trans|capitalize }}</a>
        </li>
    </ul>
{% endblock %}

{% block fos_user_content %}
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_widget(form) }}

    <input type="submit" value="{{ 'forms.general.buttons.add'|trans }}" />

    {{ form_end(form) }}
{% endblock fos_user_content %}
