{% extends "SumoCodersFrameworkUserBundle::layout.html.twig" %}

{% block header_title %}
    <h2>
        {{ 'header.title.edit'|trans({'%username%' : user.username })|capitalize }}
    </h2>
{% endblock %}

{% block header_navigation %}
    <ul>
        <li>
            <a class="icon icon-list" href="{{ path('sumocoders_frameworkuser_user_index') }}">{{ 'header.navigation.actions.overview'|trans|capitalize }}</a>
        </li>
    </ul>
{% endblock %}

{% block fos_user_content %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
            <input type="submit" class="btn btn-primary" value="{{ 'forms.general.buttons.edit'|trans|capitalize }}" />

                {% if user.enabled %}
                    <a href="{{ path('sumocoders_frameworkuser_user_block', {'id': user.id}) }}"
                        class="btn btn-danger confirmPostForm"
                        data-field-token="{{ token }}"
                        data-message="{{ 'dialogs.messages.confirmBlock'|trans({'%username%' : user.username }) }}"
                    >
                        {{ icon('remove') }}
                        {{ 'forms.editUser.buttons.block'|trans|capitalize }}
                    </a>
                {% else %}
                    <a href="{{ path('sumocoders_frameworkuser_user_unblock', {'id': user.id}) }}"
                        class="btn confirmPostForm"
                        data-field-token="{{ token }}"
                        data-message="{{ 'dialogs.messages.confirmUnblock'|trans({'%username%' : user.username }) }}"
                    >
                        {{ icon('ok') }}
                        {{ 'forms.editUser.buttons.unblock'|trans|capitalize }}
                    </a>
                {% endif %}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock fos_user_content %}
