{% extends '::base.html.twig' %}

{% block header_title %}
    <h2>
        {{ 'header.title.edit'|trans({'%entity%' : entity })|capitalize }}
    </h2>
{% endblock %}

{% block header_navigation %}
    <ul>
        <li><a class="iconList" href="{{ path('user') }}">{{ 'header.navigation.actions.overview'|trans }}</a></li>
    </ul>
{% endblock %}

{% block main -%}
    {{ form(edit_form) }}
    {{ form(delete_form) }}
{% endblock %}
