{% extends "SumoCodersFrameworkUserBundle::layout.html.twig" %}

{% block header_title %}
    <h2>
        {{ 'user.header.title.edit'|trans({'%username%' : user.username })|capitalize }}
    </h2>
{% endblock %}

{% block header_navigation %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-info" href="{{ path('sumocoders_frameworkuser_user_index') }}">{{ 'header.navigation.actions.overview'|trans|capitalize }}</a>
        {{ form_start(form_block_unblock, {'attr': {'class': 'form-inline'}}) }}
            {{ form_rest(form_block_unblock) }}
        {{ form_end(form_block_unblock) }}
    {% endif %}
{% endblock %}

{% block fos_user_content %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3">
            <input type="submit" class="btn btn-primary" value="{{ 'forms.buttons.update'|trans|capitalize }}" />
        </div>
    </div>
    {{ form_end(form) }}
{% endblock fos_user_content %}
